<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<!--
    Copyright (c) 2017 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeModuleType">
    <runtimeModuleType
      id="com.ibm.ws.st.jee.core"
      runtimeTypes="com.ibm.ws.st.runtime.*">
      <moduleType
        types="jst.ear"
        versions="1.2,1.3,1.4,5.0,6.0,7.0,8.0"/>
      <moduleType
        types="jst.web"
        versions="2.2,2.3,2.4,2.5,3.0,3.1,4.0"/>
      <moduleType
        types="jst.ejb"
        versions="1.1,2.0,2.1,3.0,3.1,3.2"/>
      <moduleType
         types="jst.webfragment"
         versions="3.0,3.1,4.0"/>
      <moduleType
        types="jst.utility"
        versions="1.0"/>
      <moduleType
        types="jst.connector"
        versions="1.0,1.5,1.6,1.7"/>
    </runtimeModuleType>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
      <runtime-component
        id="com.ibm.ws.st.runtime"
        version="8.5"/>
      <facet
        id="jst.ear"
        version="1.2,1.3,1.4,5.0,6.0"/>
      <facet
        id="jst.utility"
        version="1.0"/>
    </supported>
  </extension>
  
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <supported>
      <runtime-component
        id="com.ibm.ws.st.runtime"
        version="1.0"/>
      <facet
        id="jst.ear"
        version="1.2,1.3,1.4,5.0,6.0"/>
      <facet
        id="jst.utility"
        version="1.0"/>
    </supported>
  </extension>

  <!-- JEE features -->
  <!-- Enables facet runtime to correctly block/allow users to target projects
       to a server depending on the necessary feature support.
       
       For entries that don't specify a facet (because there isn't one) this
       will just allow them to display in runtime composition view of the runtime
       target.  This is not done for all features, just for major programming models.
       Needs to be updated if new versions are added or new features supporting
       major programming models.
       
       The corresponding UI plugin.xml must be updated as well if a new component
       id is added. -->
  <!-- Note: for JPA, the 2.1 version is not a superset of the 2.0 version (the
       implementations are different) so these should be kept distinct. -->
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.enterpriseApplication"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.enterpriseApplication" version="7.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.enterpriseApplication" version="7.0"/>
      <facet id="jst.ear" version="1.2,1.3,1.4,5.0,6.0,7.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.enterpriseApplication"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.enterpriseApplication" version="8.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.enterpriseApplication" version="8.0"/>
      <facet id="jst.ear" version="1.2,1.3,1.4,5.0,6.0,7.0,8.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.appclient"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.appclient" version="7.0"/>
    <supported>
      <facet id="jst.appclient" version="1.2,1.3,1.4,5.0,6.0,7.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.appclient"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.appclient" version="8.0"/>
    <supported>
      <facet id="jst.appclient" version="1.2,1.3,1.4,5.0,6.0,7.0,8.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.servlet"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.servlet" version="3.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.servlet" version="3.0"/>
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0"/>
      <facet id="jst.webfragment" version="3.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.servlet"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.servlet" version="3.1"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.servlet" version="3.1"/>
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0,3.1"/>
      <facet id="jst.webfragment" version="3.0,3.1"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.servlet"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.servlet" version="4.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.servlet" version="4.0"/>
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0,3.1,4.0"/>
      <facet id="jst.webfragment" version="3.0,3.1,4.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jsp"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jsp" version="2.2"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jsp"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jsp" version="2.3"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jsf"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jsf" version="2.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jsf" version="2.0"/>
      <facet id="jst.jsf" version="2.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jsf"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jsf" version="2.2"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jsf" version="2.2"/>
      <facet id="jst.jsf" version="2.0,2.1,2.2"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jsf"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jsf" version="2.3"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jsf" version="2.3"/>
      <facet id="jst.jsf" version="2.0,2.1,2.2,2.3"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jpa"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jpa" version="2.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jpa" version="2.0"/>
      <facet id="jpt.jpa" version="1.0,2.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jpa"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jpa" version="2.1"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jpa" version="2.1"/>
      <facet id="jpt.jpa" version="2.1"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jpa"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jpa" version="2.2"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jpa" version="2.2"/>
      <facet id="jpt.jpa" version="2.1,2.2"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jaxrs"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jaxrs" version="1.1"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jaxrs" version="1.1"/>
      <facet id="jst.jaxrs" version="1.0,1.1"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jaxrs"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jaxrs" version="2.0"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jaxrs" version="2.0"/>
      <facet id="jst.jaxrs" version="1.0,1.1,2.0"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jaxrs"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jaxrs" version="2.1"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jaxrs" version="2.1"/>
      <facet id="jst.jaxrs" version="1.0,1.1,2.0,2.1"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jaxws"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jaxws" version="2.2"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.ejblite"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.ejblite" version="3.1"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.ejblite" version="3.1"/>
      <facet id="jst.ejb" version="1.1,2.0,2.1,3.0,3.1"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.ejblite"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.ejblite" version="3.2"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.ejblite" version="3.2"/>
      <facet id="jst.ejb" version="1.1,2.0,2.1,3.0,3.1,3.2"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jndi"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jndi" version="1.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jdbc"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jdbc" version="4.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jdbc"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jdbc" version="4.1"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jdbc"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jdbc" version="4.2"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.json"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.json" version="1.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jaxb"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jaxb" version="2.2"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.beanvalidation"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.beanvalidation" version="1.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.beanvalidation"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.beanvalidation" version="1.1"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.beanvalidation"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.beanvalidation" version="2.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jca"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jca" version="1.6"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jca" version="1.6"/>
      <facet id="jst.connector" version="1.0,1.5,1.6"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jca"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jca" version="1.7"/>
    <supported>
      <runtime-component id="com.ibm.ws.st.runtime.jca" version="1.7"/>
      <facet id="jst.connector" version="1.0,1.5,1.6,1.7"/>
    </supported>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jms"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jms" version="1.1"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.jms"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.jms" version="2.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.websocket"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.websocket" version="1.0"/>
  </extension>
  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type id="com.ibm.ws.st.runtime.websocket"/>
    <runtime-component-version type="com.ibm.ws.st.runtime.websocket" version="1.1"/>
  </extension>

  <extension point="com.ibm.ws.st.core.serverExtensions">
    <serverExtension
      id="com.ibm.ws.st.jee.core.serverExtension"
      class="com.ibm.ws.st.jee.core.internal.JEEServerExtension"
      publishClass="com.ibm.ws.st.jee.core.internal.JEEPublisher">
      <module type="jst.ear" applicationType="ear" applicationElement="enterpriseApplication"/>
      <module type="jst.web" applicationType="war" applicationElement="webApplication"/>
      <module type="jst.ejb" applicationType="ejb" applicationElement="ejbApplication"/>
      <module type="jst.webfragment"/>
      <module type="jst.utility"/>
      <module type="jst.appclient"/>
      <module type="jst.connector" applicationType="rar" applicationElement="resourceAdapter"/>
    </serverExtension>
  </extension>
  
  <extension point="com.ibm.ws.st.core.facetFeatureMapping">
    <facetFeatureMapping id="com.ibm.ws.st.jee.servlet30" features="servlet-3.0">
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0"/>
      <facet id="jst.webfragment" version="3.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.servlet31" features="servlet-3.1">
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0,3.1"/>
      <facet id="jst.webfragment" version="3.0,3.1"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.servlet40" features="servlet-4.0">
      <facet id="jst.web" version="2.2,2.3,2.4,2.5,3.0,3.1,4.0"/>
      <facet id="jst.webfragment" version="3.0,3.1,4.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jsf20" features="jsf-2.0">
      <facet id="jst.jsf" version="2.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jsf22" features="jsf-2.2">
      <facet id="jst.jsf" version="2.0,2.1,2.2"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jsf23" features="jsf-2.3">
      <facet id="jst.jsf" version="2.0,2.1,2.2,2.3"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jpa10" features="jpa-1.0">
      <facet id="jpt.jpa" version="1.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jpa20" features="jpa-2.0">
      <facet id="jpt.jpa" version="1.0,2.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jpa21" features="jpa-2.1">
      <facet id="jpt.jpa" version="2.1"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jpa22" features="jpa-2.2">
      <facet id="jpt.jpa" version="2.2"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jaxr11s" features="jaxrs-1.1">
      <facet id="jst.jaxrs" version="1.0,1.1"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jaxrs20" features="jaxrs-2.0">
      <facet id="jst.jaxrs" version="1.0,1.1,2.0"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jaxrs21" features="jaxrs-2.1">
      <facet id="jst.jaxrs" version="1.0,1.1,2.0,2.1"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.ejbLite31" features="ejbLite-3.1">
      <facet id="jst.ejb" version="1.1,2.0,2.1,3.0,3.1"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.ejbLite32" features="ejbLite-3.2">
      <facet id="jst.ejb" version="1.1,2.0,2.1,3.0,3.1,3.2"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jca16" features="jca-1.6">
      <facet id="jst.connector" version="1.0,1.5,1.6"/>
    </facetFeatureMapping>
    <facetFeatureMapping id="com.ibm.ws.st.jee.jca17" features="jca-1.7">
      <facet id="jst.connector" version="1.0,1.5,1.6,1.7"/>
    </facetFeatureMapping>
  </extension>   

  <extension point="com.ibm.ws.st.core.requiredFeatures">
    <requiredFeatures
      id="com.ibm.ws.st.jee.jsp"
      class="com.ibm.ws.st.jee.core.internal.JSPFeatureResolver">
      <module type="jst.web"/>
    </requiredFeatures>
    <requiredFeatures
      id="com.ibm.ws.st.jee.webdd"
      class="com.ibm.ws.st.jee.core.internal.WebDDFeatureResolver">
      <module type="jst.web"/>
    </requiredFeatures>
    <requiredFeatures
      id="com.ibm.ws.st.jee.jsf.config"
      features="jsf">
      <module type="jst.web"/>
      <content path="WEB-INF/faces-config.xml"/>
    </requiredFeatures>
    <requiredFeatures
      id="com.ibm.ws.st.jee.cdi.beans"
      class="com.ibm.ws.st.jee.core.internal.CDIFeatureResolver"/>
    <requiredFeatures
      id="com.ibm.ws.st.jee.import"
      priority="90"
      class="com.ibm.ws.st.jee.core.internal.ImportFeatureResolver"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.moduleTypes">
    <moduleType
      id="was.external.ear"
      name="%moduleTypeExternalEAR"/>
    <moduleType
      id="was.external.war"
      name="%moduleTypeExternalWAR"/>
<!-- TASK_99933   <moduleType
      id="was.external.ejb"
      name="%moduleTypeExternalEJB"/> -->
    <moduleType
      id="was.external.rar"
      name="%moduleTypeExternalRAR"/>
  </extension>

  <extension point="com.ibm.ws.st.core.classpathExtensions">
    <classpathExtension id="com.ibm.ws.st.jee.core.serverExtension">
      <facet type="jst.web"/>
      <facet type="jst.utility"/>
      <facet type="jst.webfragment"/>
      <facet type="jst.jsf"/>
      <facet type="jst.ejb"/>
      <facet type="jpt.jpa"/>
      <facet type="jst.connector"/>
      <facet type="jst.appclient"/>
    </classpathExtension>
    
    <classpathExtension id="com.ibm.ws.st.jee.core.serverExtension" isEmptyContainer="true">
      <nature type="org.eclipse.m2e.core.maven2Nature"/>
    </classpathExtension>
  </extension>

  <extension point="org.eclipse.core.resources.markers"
    id="jeeConfigmarker"
    name="%jeeProblemMarker">
    <persistent value="true"/>
    <super type="org.eclipse.core.resources.problemmarker"/>
  </extension>

  <extension point="org.eclipse.wst.validation.validatorV2"
    id="com.ibm.ws.st.jee.configuration.validator"
    name="%jeeConfigurationValidator">
    <validator
      version="2"
      build="true"
      manual="true"
      markerId="com.ibm.ws.st.jee.core.jeeConfigmarker"
      class="com.ibm.ws.st.jee.core.internal.ConfigurationJEEValidator">
      <include>
        <rules>
          <contentType id="com.ibm.ws.st.configuration" exactMatch="true"/>
        </rules>
      </include>
    </validator>
  </extension>

  <!-- Shared library support -->
  <extension point="com.ibm.ws.st.core.serverExtensions">
    <serverExtension
      id="com.ibm.ws.st.jee.core.sharedLibServerExtension"
      class="com.ibm.ws.st.jee.core.internal.SharedLibServerExtension"
      publishClass="com.ibm.ws.st.jee.core.internal.SharedLibPublisher">
      <module type="jst.utility" applicationType="generic"/>
    </serverExtension>
  </extension>

  <!-- Shared library support -->
  <extension point="org.eclipse.wst.server.core.moduleArtifactAdapters">
      <moduleArtifactAdapter
         class="com.ibm.ws.st.jee.core.internal.SharedLibraryModuleArtifactAdapter"
         id="com.ibm.ws.st.jee.core.internal.sharedLibModuleArtifactAdapter">
        <enablement>
          <with variable="selection">
            <adapt type="org.eclipse.core.resources.IProject">
              <test forcePluginActivation="true"
					 property="org.eclipse.wst.common.project.facet.core.projectFacet"
                value="jst.utility:1.0"/>
            </adapt>
          </with> 
        </enablement>
      </moduleArtifactAdapter>
  </extension>

</plugin>
