<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages"> 
       <page
	            class="com.ibm.ws.st.liberty.gradle.ui.internal.LibertyIntegrationPreferencePage"
	            id="com.ibm.ws.st.liberty.gradle.ui.internal.LibertyIntegrationPreferencePage"
	            name="%IBMLibertyGradlePreferencePage"
	            category="org.eclipse.buildship.ui.preferences">
        </page>
   </extension>
   
	<extension point="com.ibm.ws.st.ui.customServerConfig">
		<handler class="com.ibm.ws.st.liberty.gradle.ui.internal.CustomServerConfig" />
	</extension>
    <extension point="com.ibm.ws.st.core.customServerVariables">
    	<handler class="com.ibm.ws.st.liberty.gradle.internal.CustomServerVariablesHandler" />
	</extension>
	
   <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
       id="com.ibm.ws.st.liberty.gradle.runtime.content"
       name="%navigatorContentProviderGradleRuntime"
       icon="icons/obj16/information.gif"
       activeByDefault="true"
       contentProvider="com.ibm.ws.st.liberty.gradle.ui.rtexplorer.internal.GradleRuntimeContentProvider"
       labelProvider="com.ibm.ws.st.liberty.gradle.ui.rtexplorer.internal.GradleRuntimeLabelProvider">
       <triggerPoints>
         <or>
           <instanceof value="com.ibm.ws.st.liberty.buildplugin.integration.ui.rtexplorer.internal.LibertyBuildPluginProjectNode"/>
         </or>
       </triggerPoints>
       <possibleChildren>
         <or>
           <instanceof value="com.ibm.ws.st.liberty.buildplugin.integration.ui.rtexplorer.internal.LibertyBuildPluginProjectNode"/>
         </or>
       </possibleChildren>
       <actionProvider
         id="com.ibm.ws.st.liberty.gradle.rtexplorer.actionProvider"
         class="com.ibm.ws.st.liberty.gradle.ui.rtexplorer.internal.GradleRuntimeActionProvider">
         <enablement>
             <instanceof value="com.ibm.ws.st.liberty.buildplugin.integration.ui.rtexplorer.internal.LibertyBuildPluginProjectNode"/>
         </enablement>
       </actionProvider>
    </navigatorContent>
  </extension>

  <extension point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding
      viewerId="com.ibm.ws.st.ui.runtime.view">
      <includes>
        <contentExtension isRoot="true" pattern="com.ibm.ws.st.liberty.gradle.runtime.content"/>
      </includes>
    </viewerContentBinding>
  </extension>
    <extension point="com.ibm.ws.st.core.customServerVariables">
    	<handler class="com.ibm.ws.st.liberty.gradle.internal.CustomServerVariablesHandler" />
	</extension>

	<extension point="com.ibm.ws.st.common.core.ext.serverTypeExtension">
      <serverTypeExtension
         id="com.ibm.ws.st.liberty.gradle.libertyGradleServerType"
         typeId="LibertyGradle"
         serverLaunchConfigurationClass="com.ibm.ws.st.core.internal.launch.BaseLibertyLaunchConfiguration"
         serverBehaviourClass="com.ibm.ws.st.liberty.gradle.servertype.internal.LibertyGradleServerBehaviour"
         serverClass="com.ibm.ws.st.liberty.gradle.servertype.internal.LibertyGradleServer"
         />
   </extension> 
   
   <extension point="com.ibm.ws.st.core.serverExtensions">
    <serverExtension
      id="com.ibm.ws.st.liberty.gradle.serverExtension"
      class="com.ibm.ws.st.liberty.gradle.servertype.internal.LibertyGradleServerExtension"
      publishClass="com.ibm.ws.st.liberty.gradle.servertype.internal.LibertyGradleJEEPublisher">

      <module type="jst.web" applicationType="war" applicationElement="webApplication"/>
      <module type="jst.ear" applicationType="ear" applicationElement="enterpriseApplication" />
    </serverExtension>
  </extension>
  
<!-- The active contribution location URI: -->
<!-- menu:org.eclipse.buildship.ui.contextmenuentry?after=org.eclipse.buildship.ui.commands.refreshproject -->
  
  <extension point="org.eclipse.ui.popupMenus">
  	<objectContribution id="org.eclipse.buildship.ui.contextmenuentry.createServer"
                          objectClass="org.eclipse.core.resources.IProject"
                          adaptable="true">
         <action id="com.ibm.ws.st.liberty.gradle.createRuntimeAndServerAction"
                 class="com.ibm.ws.st.liberty.gradle.ui.actions.internal.CreateRuntimeServerProjectMenuAction"
                 label="%popup.createRuntimeAndServer"
                 style="push"
                 icon="icons/obj16/liberty-runtime-gradle.png"
                 menubarPath="org.eclipse.buildship.ui.contextmenuentry/org.eclipse.buildship.ui.commands.refreshproject"
                 enablesFor="1"/>
         <visibility>
           <and>
             <objectState name="open" value="true"/>
             <objectState name="nature" value="org.eclipse.buildship.core.gradleprojectnature"/>
           </and>
         </visibility>
      <enablement>
         <test property="com.ibm.ws.st.liberty.gradle.isLibertyGradleEnhanced"/>
      </enablement>
      </objectContribution>
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            id="com.ibm.ws.st.liberty.gradle.LibertyIntegrationPropertyTester"
            class="com.ibm.ws.st.liberty.gradle.ui.actions.internal.LibertyIntegrationPropertyTester"
            namespace="com.ibm.ws.st.liberty.gradle"
            properties="isLibertyGradleEnhanced"
            type="org.eclipse.core.runtime.IAdaptable"/>
   </extension>
    
    <!-- 
     com.ibm.ws.st.liberty.gradle.internal.EarlyStartup must be called at workbench startup
     in order for the resource listener to get registered early enough to detect imported project resources.
      -->
    <extension point="org.eclipse.ui.startup">
     <startup class="com.ibm.ws.st.liberty.gradle.internal.EarlyStartup"/>
   </extension>
</plugin>
