<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension-point id="com.ibm.ws.st.common.core.ext.WTPServerProducer" name="WTP Server Producer" schema="schema/com.ibm.ws.st.common.core.ext.WTPServerProducer.exsd"/>
   <extension-point id="com.ibm.ws.st.common.core.ext.RemoteServerSetup" name="Remote Server Setup" schema="schema/com.ibm.ws.st.common.core.ext.RemoteServerSetup.exsd"/>
   <extension-point id="serverTypeExtension" name="%extensionPointServerTypeExtension" schema="schema/serverTypeExtensions.exsd" />
   <extension-point id="platformHandlerProvider" name="Platform Handler Provider" schema="schema/platformHandlerProvider.exsd"/>
   <extension-point id="remoteExecutionDelegate" name="Remote Execution Delegate" schema="schema/remoteExecutionDelegate.exsd"/>
   
</plugin>
